<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script type="text/javascript" src="/js/jquery-1.8.0.js"></script>
    <script type="text/javascript" src="/js/easyui_util.js"></script>

    <script type="text/javascript" src="/js/kindeditor-4.1.10/kindeditor-all.js"></script>
    <link rel="styleSheet" href="/js/kindeditor-4.1.10/themes/default/default.css" type="text/css">

    <script type="text/javascript" src="/js/easyui1.5/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/js/easyui1.5/locale/easyui-lang-zh_CN.js"></script>
    <link rel="stylesheet" href="/js/easyui1.5/themes/default/easyui.css" type="text/css"></link>
    <link rel="stylesheet" href="/js/easyui1.5/themes/icon.css" type="text/css"></link>

    <script type="text/javascript" src="/js/util-js.js"></script>

    <link rel="stylesheet" href="/js/uploadify/uploadify.css" type="text/css"></link>
    <script type="text/javascript" src="/js/uploadify/jquery.uploadify.js"></script>
</head>
<body>
<div id="toolBar">
    <table>
        <tr>
            <td>汽车名称</td>
            <td><input type="text" class="easyui-textbox" data-options="iconCls:'icon-search'" id="searchCarName"></td>
            <td>出版时间</td>
            <td>
                <input type="text" class="easyui-datebox" id="searchStartTime"> ~~
                <input type="text" class="easyui-datebox" id="searchEndtTime">
            </td>
            <td>
                <select id="typeSelect" style="width:70px">

                </select>
            </td>
        </tr>
        <tr>
            <td colspan="5">

                <a class="easyui-linkbutton" onclick="searchCar()" data-options="iconCls:'icon-search'">搜索</a>

            </td>
        </tr>


    </table>
    <a class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" id="deleteMany"> 批量删除</a>
    <a onclick="openCarDialog()" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">新增</a>
</div>
<table id="bookTable"></table>
<div id="CarDialog" class="easyui-dialog" data-options="title:'汽车',modal:true,closed:true,
      buttons:[{
            text:'保存',
            palin:true,
            iconCls:'icon-save',
            handler:function(){
                saveCarForm();
            }
            },{
            text:'关闭',
            palin:true,
            iconCls:'icon-cancel',
            handler:function(){
                closeWindow();
            }
      }]" style="width:500px;height:600px">
    <div style="margin: 10px 0px 0px 10px">
        <form id="CarForm" action="">
            <table>
                <tr>
                    <td>汽车名</td>
                    <td>
                        <input type="hidden" name="cid">
                        <input type="text" class="easyui-textbox" name="username"></td>
                </tr>
                <tr>
                    <td>汽车价格</td>
                    <td><input type="text" class="easyui-textbox" name="price"></td>
                </tr>
                <tr>
                    <td>账号</td>
                    <td><input type="text" class="easyui-textbox" name="cnumber"></td>
                </tr>
                <tr>
                    <td>密码</td>
                    <td><input type="text" class="easyui-passwordbox" name="password" id="cpassword"></td>
                </tr>
                <tr>
                    <td>确认密码</td>
                    <td><input type="text" class="easyui-passwordbox" name="cpassword2" id="cpassword2"></td>
                </tr>
                <tr>
                    <td>汽车车主</td>
                    <td><input type="text" class="easyui-textbox" name="people"></td>
                </tr>
                <tr>
                    <td>出场时间</td>
                    <td><input type="text" class="easyui-datebox" name="ctime"></td>
                </tr>
                <tr>
                    <td>汽车类型</td>
                    <td><select id="selectType" class="easyui-combobox" name="typeid" style="width:70px">

                    </select></td>
                </tr>
                <tr>
                    <td>汽车颜色</td>
                    <td><select id="colorSelect" class="easyui-combobox" name="color" style="width:70px"></select></td>
                </tr>
                <tr>
                    <td>状态</td>
                    <td><input type="radio" value="0" name="status">未锁定<input type="radio" value="1" name="status">锁定</td>
                </tr>
                <tr>
                    <td>汽车封面</td>
                    <td>
                        <input type="hidden" name="cimg" id="imgName">

                        <input type="file" id="imgFile">

                        <div id="divDom"></div>

                        <img id="imgDom" width="120" height="80">
                    </td>
                </tr>
                <tr>
                    <td>角色</td>
                    <td>
                        <select id="roleSelect" name="roleid" class="easyui-combobox" style="width: 200px"></select>
                    </td>
                </tr>
                <tr>
                    <td>地区</td>
                    <td>
                        <select id="provinceSelect" name="provincecode" class="easyui-combobox" style="width: 100px"></select>
                        -
                        <select id="citySelect" name="citycode" class="easyui-combobox" style="width: 100px"></select>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<div id="PasswordDialog" class="easyui-dialog" data-options="title:'验证',modal:true,closed:true,
      buttons:[{
            text:'保存',
            palin:true,
            iconCls:'icon-save',
            handler:function(){
                savePasswordForm();
            }
            },{
            text:'关闭',
            palin:true,
            iconCls:'icon-cancel',
            handler:function(){
                closeWindow();
            }
      }]" style="width:400px;height:250px">
    <div style="margin: 10px 0px 0px 10px">
        <form id="PasswordForm" action="">
            <table>
                <tr>
                    <td>密码</td>
                    <td>
                        <input type="text" class="easyui-textbox" id="password3">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

</body>
<script type="text/javascript">


    $(function(){
        ready();
        show();

    })


    function closeWindow(){
        alert("密码不能为空或者密码不相等！");
        searchCar();
        $("#CarDialog").dialog('close');


    }

    function saveCarForm(){
        var cpassword = $("#cpassword").passwordbox('getValue');
        var cpassword2 = $("#cpassword2").passwordbox('getValue');
        if(cpassword==cpassword2){
            $("#CarForm").form('submit',{
                url:'../car/saveCar',
                success:function(data){

                    $("#CarDialog").dialog('close');
                    show();
                }
            })
        }else{
            alert("密码不相同，或者密码不能为空！");
            $("#CarDialog").dialog('close');
            show();
        }

    }






    function openCarDialog(){
        $("#imgDom").prop('src','');
        $("#CarForm").form('reset');
        $("#roleSelect").combobox();
        $("#selectType").combobox();
        $("#colorSelect").combobox();
        $("#provinceSelect").combobox();
        $("#typeSelect").combobox();
        $("#CarForm").form('clear');
        $("#CarDialog").dialog({
            closed:false,
            title:'新增汽车',
            close:false,
            iconCls:'icon-add'
        })
    }

    $("#provinceSelect").combobox({
        url:'../car/findprovince?id=0',
        textField:'name',
        valueField:'id',
        onChange:function(newValue,oldValue){
            $("#citySelect").combobox({
                url:'../car/findprovince?id='+newValue,
                textField:'name',
                valueField:'id'
            })
        }

    })

    $("#roleSelect").combobox({
        url:'../car/findRoleList',
        textField:'name',
        valueField:'id',
        multiple:true
    })

    $("#selectType").combobox({
        url:'../car/queryCarType',
        valueField:'typeid',
        textField:'typename',
        editable:false
    })

    $("#colorSelect").combobox({
        url:'../car/queryCarColorList',
        valueField:'color',
        textField:'colorname',
        editable:false
    })


    $("#deleteMany").click(function(){
        var cars = $("#bookTable").datagrid('getSelections');
        var ids = "";
        for(var i in cars){
            ids+=ids==""? cars[i].cid :","+cars[i].cid;
        }
        $.ajax({
            url:'../car/deleteManyId',
            type:'post',
            data:{
                ids:ids
            },
            dataType:'json',
            success:function(data){
                if(data){
                    searchCar();
                }else{
                    $.messager.alert('提示','删除失败','error');
                }
            }
        })
    })

    function searchCar(){
        var searchCarName = $("#searchCarName").textbox('getValue');
        var searchStartTime = $("#searchStartTime").datebox('getValue');
        var searchEndTime = $("#searchEndtTime").datebox('getValue');
        var searchTypeId = $("#typeSelect").combobox('getValue');
        $("#bookTable").datagrid('load',{
            username:searchCarName,
            startime:searchStartTime,
            endtime:searchEndTime,
            typeid:searchTypeId

        })

    }



    $("#typeSelect").combobox({
        url:'../car/queryCarTypeList',
        valueField:'typeid',
        textField:'typename',
        editable:false
    })


    function show(){
        $("#bookTable").datagrid({
            url:'../car/queryByPage',
            method:'post',
            toolbar:'#toolBar',
            pagination:true,
            pageSize:5,
            pageList:[2,4,5,6,8,10],
            pageNumber:1,
            fit:true,
            columns:
                [
                [
                {field:'123',checkbox:true},
                {field:'cid',title:'编号'},
                {field:'cnumber',title:'账号'},
                {field:'password',title:'密码'},
                {field:'username',title:'汽车名称'},
                {field:'price',title:'价格'},
                {field:'people',title:'买家'},
                {field:'provincename',title:'地区',formatter:function(value,row,index){
                        return value + "-" + row.cityname;
                    }},
                {field:'rolename',title:'角色'},
                {field:'typename',title:'类型'},
                {field:'colorname',title:'颜色'},
                {field:'ctime',title:'出版时间'},
                {field:'status',title:'状态',formatter:function(value,row,index){
                        return value ==1?"锁定":"未锁定";
                    }},
                {field:'cimg',title:'图片',formatter:function(value,row,index){
                        return "<img width='100px' height='100px' src='<%=basePath%>/upload/"+value+"'></img>";

                    }},
                {field:'456',title:'操作',formatter:function(value,row,index){
                        var html = "<a href='javascript:updateOne("+row.cid+");'>修改</a>&nbsp;&nbsp;&nbsp;";
                        html+= row.status ==1?"<a href='javascript:TopOrDown2("+row.cid+");'>解锁</a>":"<a href='javascript:TopOrDown("+row.cid+","+row.status+");'>锁定</a>";
                        return html;
                    }}

                    ]
                ]
        })

    }
    function updateOne(id){
        ready();
        loadCarForm(id);
        $("#CarDialog").dialog({
            closed:false,
            title:'修改汽车',
            close:false,
            iconCls:'icon-edit'
        })
    }


    function loadCarForm(id){
        $.ajax({
            url:'../car/findCarById',
            type:'post',
            data:{
                id:id
            },
            dataType:'json',
            success:function(data){
                $("#CarForm").form('load',data);
                $("#imgDom").attr('src','upload/'+data.cimg);
            },
            error:function(){
                alert("修改失败");
            }
        })
    }




    function TopOrDown(id,status){
        if(status==1){
            $.ajax({
                url:'../car/TopOrDown',
                type:'post',
                data:{
                    id:id
                },
                dataType:'json',
                success:function(){
                    $("#bookTable").datagrid({})
                },
                error:function(){
                    alert("改变失败");
                    $("#bookTable").datagrid({})
                }
            })
        }else{
            $.ajax({
                url:'../car/TopOrDowntwo',
                type:'post',
                data:{
                    id:id
                },
                dataType:'json',
                success:function(){
                    $("#bookTable").datagrid({})
                },
                error:function(){
                    alert("改变失败");
                    $("#bookTable").datagrid({})
                }
            })
        }

    }

    function TopOrDown2(id,status){
        findPasswordForm(id);
        $("#PasswordDialog").dialog({
            closed:false,
            title:'用户验证',
            close:false,
            iconCls:'icon-add'
        })
    }


    function findPasswordForm(id,passwords){
        var passwords = $("#password3").textbox('getValue');
        $.ajax({
            url:'../car/findPasswordById',
            type:'post',
            data:{
                id:id,
                passwords:passwords

            }
        })
    }



</script>

<script type="text/javascript">

    ready = function(){
        //文件域ID
        $("#imgFile").uploadify({
            //插件自带  不可忽略的参数
            'swf': '<%=basePath%>/js/uploadify/uploadify.swf',
            //前台请求后台的url 不可忽略的参数                          //*****要修改路经
            'uploader': '<%=basePath%>/car/upload.do',
            //给div的进度条加背景 不可忽略 DIV ID
            'queueID': 'divDom',
            //上传文件文件名，和后台参数列表中形式参数保持一致
            'fileObjName' : 'img',
            //给上传按钮设置文字
            'buttonText': '上传图片',
            //设置文件是否自动上传
            'auto': true,
            //可以同时选择多个文件 默认为true  不可忽略
            'multi': false,
            //上传后队列是否消失
            'removeCompleted': true,
            //允许上传的文件后缀
            'fileExt': '*.jpg;*.gif;*.png',
            //
            'cancelImg': '<%=basePath%>/js/uploadify/uploadify-cancel.png',
            //队列消失时间
            'removeTimeout' : 1,
            //上传文件的个数，项目中一共可以上传文件的个数
            'uploadLimit':  -1,
            'fileTypeExts': '*.jpg;*.png;*.gif',
            //开始执行上传
            'onUploadStart':function(files){
                //$.messager.progress({ title:'提示',msg:'上传中...' });
            },
            //上传失败
            'onUploadError':function(){
                //$.messager.progress('close');
                //$.messager.alert('提示','上传失败');
                alert("上传失败");
            },
            //成功回调函数 file：文件对象。data后台输出数据
            'onUploadSuccess':function(file,data,response){
                //$.messager.progress('close');
                //  alert(data+file.name)
                if(data.substr(0,1)==("\"")){
                    data = data.substr(1,data.length-2);
                }
                var imgurl = "../upload/"+data;
                $("#imgDom").prop("src",imgurl);
                $("#imgName").val(data);
            }
        });
    }



</script>
</html>