
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>首页</title>
    <script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/js/easyui_util.js"></script>
    <script type="text/javascript"  src="/js/easyui1.5/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/js/easyui1.5/locale/easyui-lang-zh_CN.js"></script>
    <link rel="stylesheet" href="/js/easyui1.5/themes/default/easyui.css" type="text/css" />
    <link rel="stylesheet" href="/js/easyui1.5/themes/icon.css" type="text/css" />
    <script src="/js/util-js.js"></script>

</head>

<body class="easyui-layout">
<div data-options="region:'north',title:'上'" height="20%">
<a href="/login/logout">注销</a>
</div>
<div data-options="region:'west',title:'左'" width="20%">
    <div class="easyui-accordion" data-options="fit:true">
        <div title="导航树">
            <ul id="navUtilEast"></ul>
        </div>
    </div>
</div>
<div data-options="region:'center',title:'中'">
    <div class="easyui-tabs" id="myTabs" data-options="fit:true"></div>
</div>

</body>
<script type="text/javascript">
    $(function(){
        initUtilTree('navUtilEast','/tree/findWestTreeList','myTabs');
    });



</script>
</html>
